.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__link--active:hover,
.nav__link--active:focus {
    text-decoration: underline;
}

.nav__link {
    font-size: 0.875rem;
    line-height: 1em;
    letter-spacing: 0.143em;
}

@media (min-width: 690px) {

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: 2em; 
    }
}

@media (max-width: 689px) {

    .nav__item_mobile {
        margin: 1.8em 0 0 1.5rem;
    }

    .nav__link {
        /* fix text-decoration not working at resolutions 635px - 683px */
        vertical-align: middle; 
    }

    .nav__link_mobile {
        color: #FFF;
        font-size: 1.5rem;
        line-height: 1.042em;
        letter-spacing: 0.08em;
    }
}