.header {
    background: #FFF;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav_mobile,
.header__btn {
    display: none;
}

@media (max-width: 689px) {

    .header__nav {
        display: none;
    }

    .header__nav_mobile {
        display: block
    }

    .header__btn {
        background-color: white;
        background-image: url("../../../shared-assets/mobile/icon-hamburger.svg");
        background-repeat: repeat;
        background-size: cover;
        border: none;

        display: block;
        height: 1.5em;
        width: 1.5em;
    }

    .header__btn--active[aria-expanded="true"] {
        background-image: url("../../../shared-assets/mobile/icon-close.svg");
    }

    .header__nav_mobile {
        background-color: #000;
        height: 17%;

        position: absolute;
        inset: 0 0 0 0;
        z-index: 2;
    }

    .header__nav_mobile--expanded[data-visible="true"] {
        transform: translateY(90px);
        transition: transform 450ms ease-in;
    }
    
    .header__nav_mobile--expanded[data-visible="false"] {
        transform: translateY(-100%);
        transition: transform 450ms ease-out;
    }
}