
.bkg-img_contact-form {
    background-image: url("./assets/mobile/bg-pattern-hero-contact-mobile.svg");
    background-position: -6rem 0;

    @media (min-width: 690px) {
	background-image: url("./assets/desktop/bg-pattern-hero-desktop.svg");
	background-position: -10rem -6.5rem;
    }
    @media (min-width: 1200px) {
	background-position: -1.7rem -8.5rem;
	background-size: 43.5rem;
    }
}
