.contact__body {
    line-height: 1.625em;
    opacity: 0.5; 
}

.contact__title {
    font-weight: 700;
}

@media (min-width: 690px) {
    
    .contact__body_bold {
        font-weight: 700;
    }
}
