.paragraph {
    line-height: 1.625em;
}

.paragraph_sm {
    font-size: 0.9375rem;
    line-height: 1.667em;
}

.subtitle {
    font-weight: 700;
}


@media (min-width: 690px) {

    .paragraph_sm {
        font-size: 1rem;
        line-height: 1.625em;
    }
    
    .paragraph_bold {
        font-weight: 700;
    }
}
