
.bkg-img_about-card {
    background-image: url("./pages/about/assets/mobile/bg-pattern-hero-about-mobile.svg");
    background-position: -31rem -8.5rem;

    @media (min-width: 690px) {
	background-image: url("./pages/about/assets/desktop/bg-pattern-hero-about-desktop.svg");
	background-position: -9rem -24rem;
    }

    @media (min-width: 1120px) {
	background-position: bottom;
    }
}



.bkg-img_talent-card,
.bkg-img_real-card {
    background-image: url("./shared-assets/desktop/bg-pattern-three-circles.svg");
  //  background-position: 0% 112%; 

    @media (min-width: 690px) {
	//	background-position: 50% 75%;
	background-position: 6rem -11rem;
    }

}

.bkg-img_talent-card {
     @media (min-width: 1120px) { 
//	background-position: 65% 100%; 
	background-position: -9rem bottom;
    } 
}

.bkg-img_real-card {
    @media (min-width: 1120px) {
	background-image: url("./shared-assets/desktop/bg-pattern-two-circles.svg");
//	background-position: -3rem 21.7rem;
	background-position: 1rem bottom;
    }
}
