
.bkg-img_about-card {
    background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/pages/about/assets/mobile/bg-pattern-hero-about-mobile.svg");
    background-position: 99.5% -80%;

    @media (min-width: 690px) {
	background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/pages/about/assets/desktop/bg-pattern-hero-about-desktop.svg");
	background-position: -269% -275%;
    }

    @media (min-width: 1120px) {
	background-position: 0% 100%;
    }
}



.bkg-img_talent-card,
.bkg-img_real-card {
    background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/desktop/bg-pattern-three-circles.svg");
    background-position: 0% 112%; 

    @media (min-width: 690px) {
	background-position: 50% 75%;
    }

}

.bkg-img_talent-card {
     @media (min-width: 1120px) { 
	background-position: 65% 100%; 
    } 
}

.bkg-img_real-card {
    @media (min-width: 1120px) {
	background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/desktop/bg-pattern-two-circles.svg");
	background-position: -3rem 21.7rem;
    }
}
