.footer {
    background-color: #1d1c1e;
    color: #fff;
}

.footer__hr {
    margin: 1.6rem 0 2rem;
    opacity: 0.1;
}

@media (max-width: 689px) {
    
    .footer {
        text-align: center;
    }

            .footer__logo {
                position: relative;
                left: 2px;
            }

            .footer__nav-item {
                margin: 2em 0;
            }
            
            .footer__contact {
                margin: 2.5em 0em 0em;
            }

            .footer__social {
                margin-top: 2.5rem;
            }
    
}

@media (min-width: 690px) {
    
    .footer {
        display: grid;
        grid-template: 1fr 4em 2fr / minmax(min-content, 1fr) 1fr 1fr;

        align-items: center;
    }

            .footer__logo {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
            }

            .footer__hr {
                grid-row: 2 / 3;
                grid-column: 1 / -1;
            }

            .footer__nav {
                grid-row: 1 / 2;
                grid-column: 2 / 4;
                justify-self: right;
            }

            .footer__contact {
                grid-row: 3 / 4;
                margin: 0;
            }

            .footer__social {
                grid-row: 3 / 4;
                grid-column: 3 / 4;
                align-self: end;
                justify-self: right;
            }

                    .footer__social-svg {
                        vertical-align: bottom;
                    }
}