.cta {
    background-color: #E7816B;
    color: #FFF;
    border-radius: 15px;

    display: grid;
    grid-template-columns: minmax(1.5rem, 3fr) 1fr minmax(201px, 330px) 1fr minmax(1.5rem, 3fr);

    align-items: center;
    justify-items: center;
    text-align: center;
    place-self: self-start;
}

.cta__img {
    position: absolute;
    transform: translateX(4%);
    z-index: -3;
}

.cta__head {
    grid-column: 3 / 4;
    max-width: 84%;
    margin: 0;
}



.cta__body {
    grid-column: 2 / 5;
    margin: 1em 0 2em;
}


.cta__btn {
    grid-column: 3 / 4;
}

