.bkg-img_headline {
    background-image: url("https://github.com/kwalker3000/designo/blob/main/shared-assets/mobile/bg-pattern-design-pages-intro-mobile.svg");
    background-position: 100% 0;
}

@media (min-width: 690px) {
    
    .bkg-img_headline {
        background-image: url("https://github.com/kwalker3000/designo/blob/main/shared-assets/tablet/bg-pattern-design-pages-intro-tablet.svg");
        background-position: 8% 50%;
    }
}

