.gallery {
    display: grid;
    // grid-template-columns: auto;
    grid-gap: 1.9rem;
}

        .gallery__link {
            text-decoration: none;
            color: inherit;
        }
        
@media (min-width: 1120px) {
    
    .gallery {
        grid-template: auto / repeat(3, minmax(275px, 350px));
    }
}
