@media (min-width: 1120px) {

    .bkg-img_app-headline {
        background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/pages/app-design/assets/desktop/bg-pattern-intro-app.svg");
        background-position-x: -19%;
    }
}

@media (min-width: 1120px) {
 
    .bkg-img_graph-headline {
        background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/pages/graphic-design/assets/desktop/bg-pattern-intro-graphic.svg");
        background-position-x: -19%;
    }
}

@media (min-width: 1120px) {

    .bkg-img_web-headline {
        background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/pages/web-design/assets/desktop/bg-pattern-intro-web.svg");
        background-position-x: 100%;
    }
}