.page {
    max-width: 1191px;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;

    display: grid;
    grid-template: repeat(2, auto) repeat(2, calc(333px / 2)) auto / 1.5rem 1fr 1.5rem;
}
