
h2, button {
    text-transform: uppercase;
}

.example, .project-navigation, .call-to-action {
    border-radius: 15px;
}

/*  --------- Main Page Layout --------------- */

.secondary-grid {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.secondary-grid > a:hover,
.secondary-grid > a:focus {
    text-decoration: none;
}

/*  -------- Title Section ---------- */

.page-title {
    background: #E7816B no-repeat url("../../shared-assets/mobile/bg-pattern-design-pages-intro-mobile.svg");
    background-position: 100% 0%;
    
    grid-row: 1 / 2;
    grid-column: span 3;
    height: 320px;
    
}

.max-container {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 428px;
    margin: 0 auto;

}

.page-title h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}

.page-title p {
    font-size: .9375rem;
    line-height: 1.667em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

@media (min-width: 690px) {
    
    .page-title {
        background-image: url("../../shared-assets/tablet/bg-pattern-design-pages-intro-tablet.svg");
        background-position: 6% 52%;
        grid-column: 2 / 3;
        border-radius: 15px;
    }

    .page-title h1 {
        font-size: 3rem;
    }
}

/*  --------- Sub Grid ----------- */

.secondary-grid {
    display: grid;
    grid-template: auto 2em repeat(6, auto) 2em repeat(2, auto) 4em / 1.5em 1fr 1.5em;
    grid-row-gap: 2em;
    text-align: center;
}

.secondary-grid > a {
    grid-column: 2 / 3;
    text-transform: none;
}

.empty {
    grid-row: 2/ 3;
    grid-column: span 3;
}

@media (min-width: 690px) {
    
    .secondary-grid {
        grid-template: auto 4em repeat(6, auto) 4em repeat(2, auto) 6em / 1.5em 1fr 1.5em;
        grid-row-gap: 1.3em;
    }
}

@media (min-width: 1120px) {

    .secondary-grid {
        grid-template: repeat(2, auto) 4em auto / repeat(auto-fit, minmax(125px, 2fr));
    }
}

/* -------- Examples Section --------- */

.example {
    background-color: #FDF3F0;
    display: flex;
    flex-direction: column;
}

.example h2 {
    color: #E7816B;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .25em;
    margin: 1em 0 0;
}

.example p {
    margin: 2em;
    margin-top: 0.8em;
    line-height: 1.625em;
}

.example img {
    border-radius: 15px 15px 0 0;
    height: auto;
    max-width: 100%;
}

.example div {
    border-radius: 0 0 15px 15px;
}


.example:hover > div h2,
.example:hover > div,
.example:hover,
a:focus > .example > div h2,
a:focus > div {
    background-color: #E7816B;
    color: #FFF;
}

@media (min-width: 690px) {
    
    .example {
        flex-direction: row;
    }

    .example img {
        border-radius: 15px 0 0 15px;
        max-width: 50%;
    }

    .example div {
        align-self: center;
    }

}

@media (min-width: 1120px) {

    .secondary-grid > a {
        grid-column: span 2;
    }

    .example {
        flex-direction: column;
    }

    .example img {
        border-radius: 15px 15px 0 0;
        max-width: 100%;
    }
}

/* --------- Project Navigation --------- */

.app-design,
.graphic-design {
    grid-column: 2 / 3;
}

.app-design {
    background-image: url("../../shared-assets/mobile/image-app-design.jpg");
    grid-row: -4 / -3;
}

.graphic-design {
    background-image: url("../../shared-assets/mobile/image-graphic-design.jpg");
    grid-row: -3 / -2;
}

@media (min-width: 690px) {

    .app-design {
        background-image: url("../../shared-assets/tablet/image-app-design.jpg");
    }

    .graphic-design {
        background-image: url("../../shared-assets/tablet/image-graphic-design.jpg");
    }
}

@media (min-width: 1120px) {

    .app-design,
    .graphic-design {
        grid-row: -1;
        grid-column: span 3;
    }

    .app-design {
        background-image: url("../../shared-assets/desktop/image-app-design.jpg");
    }

    .graphic-design {
        background-image: url("../../shared-assets/desktop/image-graphic-design.jpg");
    }

}