
h2, button {
    text-transform: uppercase;
}

.example, .project-navigation, .call-to-action {
    border-radius: 15px;
}

.spacer {
    visibility: hidden;
}

/*  --------- Main Page Layout --------------- */

.main-grid {
    display: grid;
    grid-template: auto 7em auto 4em auto / 100%;
    text-align: center;
}

.secondary-grid {
    grid-row: 3 / 4;
}

.secondary-grid > a:hover,
.secondary-grid > a:focus {
    text-decoration: none;
}

.call-to-action {
    grid-row: -1; 
}

/*  -------- Title Section ---------- */

.page-title {
    /* background-color: ; */
    background: #E7816B no-repeat url("../../shared-assets/mobile/bg-pattern-design-pages-intro-mobile.svg");
    background-position: 100% 0%;
    color: #FFF;
    grid-row: 1 / 2;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-title h1 {
    font-size: 2rem;
    margin: 0;
}

.page-title p {
    font-size: .9375rem;
    line-height: 1.667em;
}

/*  --------- Sub Grid ----------- */

.secondary-grid {
    display: grid;
    grid-template-rows: repeat(6, auto) 4em repeat(2, 250px);
    grid-gap: 25px;
}

.secondary-grid > a {
    text-transform: none;
}

@media (min-width: 1120px) {

    .secondary-grid {
        grid-template: repeat(2, auto) 4em auto / repeat(auto-fit, minmax(125px, 2fr));
    }
}

/* -------- Examples Section --------- */

.example {
    background-color: #FDF3F0;
    display: flex;
    flex-direction: column;
}

.example h2 {
    color: #E7816B;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .25em;
    margin: 1em 0 0;
}

.example p {
    margin: 2em;
    margin-top: 0.8em;
    line-height: 1.625em;
}

.example img {
    border-radius: 15px 15px 0 0;
    height: auto;
    max-width: 100%;
}

.example div {
    border-radius: 0 0 15px 15px;
}


.example:hover > div h2,
.example:hover > div,
.example:hover,
a:focus > .example > div h2,
a:focus > div {
    background-color: #E7816B;
    color: #FFF;
}

@media (min-width: 690px) {
    
    .spacer {
        display: none;
    }

    .example {
        flex-direction: row;
    }

    .example img {
        border-radius: 15px 0 0 15px;
        max-width: 50%;
    }

    .example div {
        align-self: center;
    }

}

@media (min-width: 1120px) {

    .secondary-grid > a {
        grid-column: span 2;
    }

    .example {
        flex-direction: column;
    }

    .example img {
        border-radius: 15px 15px 0 0;
        max-width: 100%;
    }
}

/* --------- Project Navigation --------- */

.app-design {
    background-image: url("../../shared-assets/mobile/image-app-design.jpg");
    grid-row: -3 / -2;
}

.graphic-design {
    background-image: url("../../shared-assets/mobile/image-graphic-design.jpg");
    grid-row: -2 / -1;
}

@media (min-width: 690px) {

    .app-design {
        background-image: url("../../shared-assets/tablet/image-app-design.jpg");
    }

    .graphic-design {
        background-image: url("../../shared-assets/tablet/image-graphic-design.jpg");
    }
}

@media (min-width: 1120px) {

    .app-design,
    .graphic-design {
        grid-row: -1;
        grid-column: span 3;
    }

    .app-design {
        background-image: url("../../shared-assets/desktop/image-app-design.jpg");
    }

    .graphic-design {
        background-image: url("../../shared-assets/desktop/image-graphic-design.jpg");
    }

}