html,
.page {
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    padding: 0;
    margin: 0;
}

.page {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
	overflow-x: hidden;
    display: grid;
    /* grid-template: repeat(2, auto) repeat(2, calc(333px / 2)) auto / minmax(0px, 1.5rem) 1fr minmax(0px, 1.5rem); */

    grid-template: repeat(2, auto) repeat(2, calc(333px / 2)) auto / 1.5rem 1fr 1.5rem;
}


.page__header {
    padding-top: 2rem;
    padding-bottom: 2rem;

    grid-row: 1 / 2;
    grid-column: 2 / -2;
    z-index: 3;
    
}

.page__main {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

.page__cta {
    grid-row: 3 / 5;
    grid-column: 2 / -2;
    padding: 3rem 0;

    position: relative;
    overflow: hidden;
    z-index: 1;
}

.page__footer {
    padding-top: calc((333px / 2) + 3.5rem);
    padding-bottom: 3.5rem;

    grid-row: 4 / 6;
    grid-column: 2 / -2;
}

@media (max-width: 689px) {

    .page__overlay[data-visible="true"] {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        inset: 6em 0 0 0;
        z-index: 1;
    }
}

@media (min-width: 690px) {

    .page {
        grid-template-columns: 2.5rem 1fr 2.5rem;
    }

    .page__header {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .page__footer {
        margin-top: 5.35rem;
        padding-top: calc((333px / 2));
        padding-bottom: 5.35rem;
    }
}
