.head_level-2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.125em;
}

/* .head_level-small_ff {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.286em;
} */

@media (min-width: 690px) {

    .head_level-2 {
        font-size: 2.5rem;
        line-height: 1em;
    }
}

/* .head_level-2_tiny {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.286em;
}

.head_level-2_sm {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.286em;
}

.head_level-2_med {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 1.286em;
} */

