.locations {
    color: #333136;
    text-align: center;
}

        .locations__component {
            margin-bottom: 4rem;
        }

        .locations__head {
            margin: 1.5em 0;
        }

@media (min-width: 1120px) {

    .locations {
        display: flex;
        justify-content: space-between;
    }

            .locations__component {
                width: calc(89.5% / 3);
            }
    
}
