.btn {
    background-color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 1.2em 1.8em;
}

.btn__text {
    font-size: 0.938rem;
    font-weight: 500;
    letter-spacing: 0.067em;
    text-transform: uppercase;
}

.btn--active:hover {
    cursor: pointer;  
}

.btn_theme_light {
    color: #333136;
}

.btn_theme_light--active:hover,
.btn_theme_light--active:focus {
    color: #FFF;
    background-color: #FFAD9B;
}

