.secondary-grid {
    grid-row: 2 / 3;
    grid-column: 1 / -1;

    display: grid;
    grid-template: repeat(3, 4fr 5fr 3em) / 1.5em 1fr 1.5em;
    grid-template-areas:
      "mp1 mp1 mp1"
      "cd1 cd1 cd1"
      ". . ."
      "mp2 mp2 mp2"
      "cd2 cd2 cd2"
      ". . ."
      "mp3 mp3 mp3"
      "cd3 cd3 cd3"
      ". . .";
}

.sc-grid__map_pos--1 {
    grid-area: mp1;
}

.sc-grid__map_pos--2 {
    grid-area: mp2;
}

.sc-grid__map_pos--3 {
    grid-area: mp3;
}

.sc-grid__card_pos--1 {
    grid-area: cd1;
}

.sc-grid__card_pos--2 {
    grid-area: cd2;
}

.sc-grid__card_pos--3 {
    grid-area: cd3;
}

@media (min-width: 690px) {
    
    .secondary-grid {
        grid-row-gap: 1.5em;
        grid-template-rows: repeat(3, 1fr 1fr 6em);
        grid-template-areas:
      ". mp1 ."
      ". cd1 ."
      ". . ."
      ". mp2 ."
      ". cd2 ."
      ". . ."
      ". mp3 ."
      ". cd3 ."
      ". . .";
    }
}

@media (min-width: 1120px) {

    .secondary-grid {
        grid-template: repeat(3, auto) 6em / 0px 1fr 1fr 1fr 0px;
        grid-template-areas:
          ". cd1 cd1 mp1 ."
          ". mp2 cd2 cd2 ."
          ". cd3 cd3 mp3 ."
          ". . . . .";
        grid-gap: 1.5em;
    }
}


.map { 
    height: auto;
    min-width: 100%; 
}

.card {
    background-color: #FDF3F0;
    padding: 5em 0;
    text-align: center;
}

.card__head {
    color: #E7816B;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.125em;
    width: 100%;
}

.card__text {
    color: #333136;
    font-size: 0.9375rem;
    line-height: 1.667em;
    margin-top: 2em;
}

.card__subtitle {
    font-weight: 700;
}

@media (min-width: 690px) {

    .map,
    .card {
        border-radius: 15px;
    }

    .card {
        display: grid;
        grid-template-columns: 4em 3fr 10% 3fr 4em;
        text-align: left;
    }

    .card__head {
        grid-column: 2 / -1;
        font-size: 2.5rem;
        line-height: 1.2em;
        margin: 0;
    }

    .card__text {
        font-size: 1rem;
        line-height: 1.625em;
    }

    .card__text_col1 {
        grid-column: 2 / 3;
    }

    .card__text_col2 {
        grid-column: 4 / 5;
    }
}

