/* - Table of Contents

-- Display Props
-- Typography
-- Box Props
-- Color & Imgs
-- Misc               */


/* || Display Props */

.web-design,
.app-design,
.graphic-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow {
    position: relative;
    left: .3em;
}

/* || Typography */

.project-navigation {
    text-transform: uppercase;
}

.project-navigation h2 {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: .05em;
}

.project-navigation p {
    font-size: .94rem;
    font-weight: 500;
    letter-spacing: .3125em;
}

@media (min-width: 690px) {

    .project-navigation h2 {
        font-size: 2.5rem;
        letter-spacing: .05em;
    }
}

/* || Box Props */

.web-design,
.app-design,
.graphic-design {
    border-radius: 15px;
}

.project-navigation {
    height: 250px;
}

.project-navigation h2 {
    margin: 0;
}

/* || Color & Imgs */

.project-navigation:hover,
.project-navigation:focus {
    background-blend-mode: soft-light;
    background-color: #B15A47;
    opacity: .75;
}

.project-navigation {
    background-blend-mode: overlay;
    background-color: hsla(0, 0%, 10%, .85);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

/* || Misc */

.project-navigation {
    cursor: pointer;
}