/* ------- Responsive Navbar --------- */

@media (max-width: 689px) {

    header {
        background-color: #FFF;
        align-items: center;
        z-index: 1000;

    }
    .non-mobile {
        display: none;
    }

    .mobile-nav-btn {
        background: rgb(255, 255, 255) url("../../shared-assets/mobile/icon-hamburger.svg");
        background-size: cover;
        border: none;
		cursor: pointer;
        height: 1.5em;
        width: 1.5em;
        margin-right: 1.8em;
    }
    
    .mobile-nav-btn[aria-expanded="true"] {
        background-image: url("../../shared-assets/mobile/icon-close.svg");
    }
    
    .mobile-primary-navigation {
        background-color: black;
        height: 19%;
        transform: translateY(-100%);

        position: fixed;
        inset: 0 0 0 0;
        z-index: 0;
        
    }
    
    .mobile-primary-navigation[data-visible="true"] {
        transform: translateY(4.5em);
        transition: transform 350ms ease-out;
    }
    
    .mobile-primary-navigation li {
        color: white;
        font-size: 1.5rem;
        letter-spacing: .083em;
        margin: 1em 0 0 5%;
    }

    .mobile-primary-navigation li:nth-child(1) {
        margin-top: 1.2em;
    }
    
    .overlay[data-visible="true"] {
        background-color: rgba(0, 0, 0, .7);
        height: 100%;
        position: absolute;
        z-index: -1;
        width: 100%;
    }
}

/* || Grid Layout */

body {
    display: grid;
    grid-template: auto 0px / 100%;
}

.page-wrapper {
    grid-row: 1 / 2;

    display: grid;
    grid-template: 
      repeat(2, auto) 187px 187px 570px / 1.5em 1fr 1.5em;
}

@media (min-width: 690px) {

    .page-wrapper {
        grid-template: repeat(2, auto) 264px 80px 304px / 1.5em 1fr 1.5em;
    }  
}

@media (min-width: 1120px) {

    .page-wrapper {
        grid-template: repeat(2, auto) 244px 60px 304px / 1.5em 1fr 1.5em;
    }
}

header {
    grid-row: 1 / 2;
    grid-column: span 3;
}

.call-to-action {
    grid-row:  -4 / -2;
    grid-column: 2 / 3;
}

footer {
    grid-row: -2 / -1;
    grid-column: 2 / 3;  
}

.footer-bkg {
    grid-row: -2 / -1;  /* Body grid */
}

/* || Display Props */

header,
footer,
.call-to-action,
.max-container {
    display: flex;
}

header {
    justify-content: space-between;
}

footer,
.call-to-action,
.max-container {
    flex-direction: column;
}

.call-to-action,
.max-container {
    justify-content: center;
}

.call-to-action button,
.location > button {
    align-self: center;
}

footer {
    align-items: center;
    justify-content: flex-end;
}

.footer-bkg {
    position: relative;
    inset: -757px 0 0 0;
    z-index: -1;
}

@media (min-width: 690px) {

    .primary-navigation,
    .non-mobile,
    .navigation-wrapper,
    .navigation-wrapper ul,
    .contact-wrapper {
        display: flex
    }

    .primary-navigation {  
        align-items: center;
    }

    .mobile,
    .mobile-nav-btn,
    .footer hr {
        display: none;
    }

    .navigation-wrapper,
    .contact-wrapper {
        justify-content: space-between;
    }

    .social {
        align-self: end;
    }

    .footer-bkg {
        inset: -384px 0 0 0;
    }
}

@media (min-width: 1120px) {

    .call-to-action {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

/* || Typography */

html,
body,
.call-to-action > button
.location > button {
    font-family: 'Jost', sans-serif;
}

ul {
    list-style-type: none;
}

li {
    font-size: .875rem;
    letter-spacing: .143em;
}

a {
    text-transform: uppercase;
}

a:hover,
a:focus {
    text-decoration: underline;
}

a,
svg:hover,
svg:focus,
.social a {
    text-decoration: none;
}

.call-to-action,
footer {
    text-align: center;
}

.call-to-action p,
.call-to-action button {
    font-size: .9375rem;
}

.call-to-action h2,
.call-to-action > button {
    font-weight: 500;
}

.call-to-action button,
.location > button {
    letter-spacing: .0667em;
}

.call-to-action h2 {
    font-size: 2rem;
    line-height: 1.125em;
    text-transform: none;
}

.call-to-action p {
    line-height: 1.667em;
}

.contact {
    line-height: 1.625em;
}

.bold {
    font-weight: 700;
}

@media (min-width: 690px) {

    .call-to-action h2 {
        font-size: 2.5rem;
    }

    .navigation-wrapper {
        align-items: center;   
    }

    .contact-wrapper {
        text-align: left;
    }
}

@media (min-width: 1120px) {

    .call-to-action {
        text-align: left;
    }
}

/* || Box Props */

html, body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

ul,
footer .logo {
    margin: 0;
}

ul {
    padding: 0; 
}

.page-wrapper {
    max-width: 1145px;
    margin: auto;
}

.logo {
    margin: 1.5em;
    max-width: 200px;
}

.call-to-action {
    border-radius: 15px;
}

.call-to-action h2 {
    margin: 0 1em;
}

.call-to-action p {
    margin-left: 1em;
    margin-right: 1em;
}

.call-to-action button,
.location > button {
    padding: 1em 1.4em;
    border-radius: 8px;
    border: none;
    margin-top: 1em;
}

.max-container { /* call-to-action */
    height: 100%;
    max-width: 428px;
    margin: 0 auto;
}

#btm-max-container {
    height: auto;
}

footer,
.navigation-wrapper,
.contact-wrapper {
    width: 100%;
}

footer {
    padding-bottom: 40px;
}

footer .logo {
    padding: 1.5em 0;
}

footer hr {
    margin: 0 0 24px;
    border: .5px solid rgba(255, 255, 255, .1);
}

footer li {
    margin-top: 1.5em;
}

footer li:nth-child(3) {
    margin-bottom: .8em;
}

.contact {
    margin-bottom: 2em;
}

svg {
    margin-left: .5em;
}

.footer-bkg {
    height: 757px;
}

@media (min-width: 690px) {

    li,
    .primary-navigation li {
        margin-left: 2em;
    }

    .primary-navigation {
        margin-right: 1.5em;
    }

    .logo {
        margin: 2.5em 1.5em;
    }

    .navigation-wrapper {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        padding-bottom: .5rem;
    }

    footer li {
        margin: 8px 0 0 2em; 
    }

    .contact-wrapper {
        padding-top: 1%;
    }

    .contact-wrapper div:nth-child(1) {
        flex-grow: 2;
    }

    .contact-wrapper div:nth-child(2) {
        flex-grow: 3;
    }

    .social {
        margin-bottom: 1.8em;
    }

    .footer-bkg {
        height: 384px;
    }
}

@media (min-width: 1120px) {
    
    .call-to-action > button {
		margin-right: 4.8em;
		margin-top: 0;
	}
    
    #btm-max-container {
        height: auto;
		margin-left: 4.5em;
    }

    #btm-max-container h2 {
        margin: 0;
    }

    #btm-max-container p {
        margin-left: 0;
    }
}

/* || Color & Imgs */

a {
    color: inherit;
}

footer li,
.call-to-action,
.call-to-action > button:hover,
.call-to-action > button:focus,
.max-container {
    color: #FFF;
}

.call-to-action {
    background: #E7816B url("../../shared-assets/desktop/bg-pattern-call-to-action.svg");
    background-position: 42% 48%;
}

.call-to-action button,
.location > button {
	color: #333136;
}

.call-to-action button:hover,
.call-to-action button:focus {
    background-color: #FFAD9B;
}

footer,
.footer-bkg {
    background-color: #1D1C1E;
}

.contact {
    color: rgba(255, 255, 255, .5);
}

svg {
    fill: #E7816B;
}

svg:hover,
svg:focus,
.social a {
    fill: #FFAD9B;
}

@media (min-width: 690px) {

    .call-to-action {
        background-position: 7% 49%;;
    }
}

@media (min-width: 1120px) {

    .call-to-action {
        background-position-x: 98%;
    }
}

/* || Misc */

a,
.call-to-action button:hover,
.call-to-action button:focus {
    cursor: pointer;
}