
.bkg-img_contact {
    background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/desktop/bg-pattern-three-circles.svg");
    background-position: inherit; 

    @media (min-width: 690px) {
	background-position: left bottom;
    }

}
