.social__link {
    margin-left: .8rem;
}

.social__link:nth-child(1) {
    margin-left: 0
}

.social__svg {
    fill: #E7816B;
}

.social__svg--active:hover,
.social__svg--active:focus {
    fill: #FFAD9B
}