.nav-portfolio {
    display: grid;
    grid-auto-rows: 250px;
    grid-gap: 1.5rem;
}

        .nav-portfolio__content {
            border-radius: 15px;
            color: #fff;
            height: 100%;
            text-align: center;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }

                .nav-portfolio__head {
                    margin: 0 1rem;
                }

                .link:hover > .nav-portfolio__bkg-img_active,
                .link:focus > .nav-portfolio__bkg-img_active {
                    background-blend-mode: soft-light;
                    background-color: #b15a47;
                    opacity: 0.75;
                }

@media (min-width: 690px) {

    .nav-portfolio {
        grid-auto-rows: 200px;
    }
}

@media (min-width: 1120px) {

    .nav-portfolio {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 308px;
    }
}


