
.bkg-img_hero {
    background-image: url("./pages/home/assets/desktop/bg-pattern-hero-home.svg");
    background-position-x: right -128px;
    background-position-y: 17%;
    background-attachment: local;
    background-size: initial;
}

@media (min-width: 1120px) {
    .bkg-img_hero {
        background-position-x: right;
        background-position-y: initial;
        background-attachment: initial;
    }
}

