
.bkg-img {
    background-repeat: no-repeat; 
}




.bkg-img_circle {
    background-image: url("../../shared-assets/desktop/bg-pattern-small-circle.svg");
}

.bkg-img_circle-up {
    background-image: url("../../shared-assets/desktop/bg-pattern-small-circle-rotated-up.svg");
}

.bkg-img_circle-down {
    background-image: url("../../shared-assets/desktop/bg-pattern-small-circle-rotated-down.svg");
}




.bkg-img_web {
    background-image: url("../../shared-assets/mobile/image-web-design.jpg");
    background-size: cover;
}

.bkg-img_app {
    background-image: url("../../shared-assets/mobile/image-app-design.jpg");
    background-size: cover;
}

.bkg-img_graph {
    background-image: url("../../shared-assets/mobile/image-graphic-design.jpg");
    background-size: cover;
}

@media (min-width: 690px) {

    .bkg-img_web {
        background-image: url("../../shared-assets/tablet/image-web-design.jpg");
    }

    .bkg-img_app {
        background-image: url("../../shared-assets/tablet/image-app-design.jpg");
    }

    .bkg-img_graph {
        background-image: url("../../shared-assets/tablet/image-graphic-design.jpg");
    }
}

@media (min-width: 1120px) {

    .bkg-img_web {
        background-image: url("../../shared-assets/desktop/image-web-design-large.jpg");
    }

    .bkg-img_app {
        background-image: url("../../shared-assets/desktop/image-app-design.jpg");
    }

    .bkg-img_graph {
        background-image: url("../../shared-assets/desktop/image-graphic-design.jpg");
    }
}

