

.call-to-action {
    border-radius: 15px;
}

.max-container { /* call-to-action */
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 428px;
    margin: 0 auto;
}

/*  --------- Sub Grid Layout ----------- */

.secondary-grid {
    display: grid;
    grid-template: repeat(2, auto) 4em auto 4em auto 4em / 1.5em 1fr 1.5em;
    grid-template-areas:
      "sec1 sec1 sec1"
      "sec2 sec2 sec2"
      ". . ."
      "sec3 sec3 sec3"
      ". . ."
      "sec4 sec4 sec4"
      ". . .";

    grid-column: 1 / 4;
    grid-row: 2 / 3;

}

@media (min-width: 690px) {
    
    .secondary-grid {
        grid-template: auto 4em auto 4em auto 4em auto 4em / 1.5em 1fr 1.5em;
        /* grid-row-gap: 1.3em; */

        grid-template-areas:
            ". sec1 ."
            ". . ."
            ". sec2 ."
            ". . ."
            ". sec3 ."
            ". . ."
            ". sec4 ."
            ". . .";
    }
}

.sec1 {
    grid-area: sec1;
}

.sec2 {
    grid-area: sec2;
}

.sec3 {
    grid-area: sec3;
}

.sec4 {
    grid-area: sec4;
}

/* || Display Props */

section {
    display: flex;
    flex-direction: column;
}

/*  || Typography */

section {
    text-align: center;
}

h1,
h2,
.location > p,
.location > button {
    font-weight: 500;
}

h1,
h2 {
    font-size: 2rem;
    line-height: 1.09em;
}

.p-font,
.location > button {
    font-size: .9375rem;
}

button,
.upper {
    text-transform: uppercase;
}

.p-font {
    line-height: 1.667em;
}

.location > p {
    font-size: 1.25rem;
    letter-spacing: .25em;
    line-height: 1.3em;
}

@media (min-width: 690px) {

    .p-font {
        font-size: 1rem;
        line-height: 1.625em;
    }
}
/* || Box Props */

section > div {
    padding: 5em 0 5em;
}

.location > button {
    padding: 1em 1.37em;
}

h1, h2 {
    margin-top: 0;
}

.p-font {
    margin: 0 1.5em;
}

.gap {
    margin-bottom: 1.5em;
}

@media (min-width: 690px) {

    .sec1,
    .sec2,
    .sec4 {
        border-radius: 15px;
    }

    .sec1 > img,
    .sec2 > img,
    .sec4 > img {
        border-radius: 15px 15px 0 0;
    }

    .p-font {
        margin-left: 4em;
        margin-right: 4em;
    }



}

/* || Color Palette */

body {
    color: #333136;
}

.sec1,
.location > button {
    background-color: #E7816B;
    color: #FFF;
}

.sec2 > div,
.sec4 > div {
    background: #FDF3F0 url("../../shared-assets/desktop/bg-pattern-three-circles.svg");
}

.location > button:hover,
.location > button:focus {
    background-color: #FFAD9B;
}

section h2 { 
    color: #E7816B;
}

.sec1 > div {
    background-image: url("./assets/mobile/bg-pattern-hero-about-mobile.svg");
    background-position: 100% 26%;
}

.canada {
    background-image: url("../../shared-assets/desktop/bg-pattern-small-circle-rotated-down.svg");
}

.australia {
    background-image: url("../../shared-assets/desktop/bg-pattern-small-circle.svg");
}

.kingdom {
    background-image: url("../../shared-assets/desktop/bg-pattern-small-circle-rotated-up.svg")
}

/* || Misc  */

.location > button {
    cursor: pointer;
}

/* ---- */
/* img {
    width: 100%;
    height: auto;
} */

/* ------- Responsive Image Change ------ */

.tablet-img,
.desktop-img {
    display: none;
}

@media (min-width: 690px) {

    .mobile-img {
        display: none;
    }

    .tablet-img {
        display: block;
    }
}

@media (min-width: 1120px) {

    .tablet-img {
        display: none;
    }

    .desktop-img {
        display: block;
    }
}