.img_mobile {
    display: block;
}

.img_tablet {
    display: none;
}

.img_desktop {
    display: none;
}

@media (min-width: 690px) {

    .img_mobile {
        display: none;
    }

    .img_tablet {
        display: block;
    }
}

@media (min-width: 1120px) {

    .img_desktop {
        display: block;
    }

    .img_tablet {
        display: none;
    }
}