/* html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

body {
    padding: 0 1.5em;
}

header {
    margin: 2em 0;
}

.brand-logo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
}

.logo {
    height: 1.5em;
    margin-top: .6em;
}

.nav, .more-btn {
    text-transform: uppercase;
}

.nav {
    color: #333136;
    display: flex;
    font-size: .875rem;
    letter-spacing: 2px;
    list-style: none;
}

li {
    margin-left: 1.5em;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;   
}

a:hover, a:focus {
    text-decoration: underline;
}

.hero-container {
    background-color: #E7816B;
    background-image: url(./assets/desktop/bg-pattern-hero-home.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 1024px;
}

.hero-content {
    align-items: center;
    display: flex;
    
}

.hero-phone {
    object-fit: none;
    object-position: 39% 0%;
    width: 100%;
}

.hero-text {
    color: #fff;
    order: -1;
    position: relative;
    left: 4em;
    bottom: 1em;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem;
}

.hero-text p {
    line-height: 1.625rem;
    margin-bottom: 2em;
    width: 80%;
}

.more-btn {
    border: none;
    border-radius: 8px;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    padding: 1em 1.6em;
    
} */

/* ------Mobile-------------- */

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

html, body {
    width: 100%;
}

/* ------- Header ---------- */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.logo, .menu-toggle {
    margin: 1.5em 1em;
}

.logo {
    width: 50%;
}

.menu-toggle > img{
    width: 80%;
}

nav {
    width: 100%;
}

.menu-toggle {
    background-color: #fff;
    border: none;
}

.opened-menu-icon {
    display: none
}

.menu {
    background-color: red;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

/*  -------- Main ------------ */

.hero-container {
    background-color: #E7816B;
    
}

.hero-content {
    background-image: url(./assets/desktop/image-hero-phone.png);
    background-position-x: center;
    background-position-y: -486%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 850px;
}

.hero-text {
    color: #fff;
    text-align: center;
    margin: 1em;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;
    margin-top: 1.3em;
}

.hero-text p {
    line-height: 1.56rem;
    font-size: .94rem;
    margin-bottom: 2em;
}

.hero-text .more-btn {
    border: none;
    border-radius: 8px;
    color: #333136;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-size: .94rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 1em 1.8em;
    text-transform: uppercase;
}



