html, body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

html, body {
    width: 100%;
}

body {
    max-width: 1250px;
}

@media (min-width: 740px) {

    .wrapper {
        width: 90%;
        max-width: 1060px;
        margin: auto;
    }
}

nav {
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;   
}

a:hover, a:focus {
    text-decoration: underline;
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
}

/* ------- Header ---------- */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin: 1.5em 1em;
    max-width: 200px;
}

@media (min-width: 740px) {
    .primary-navigation {
        display: flex;
        align-items: center;




        /* position: relative;
        inset: -3em 1em 1em 22em; */
    }

    .primary-navigation a {
        margin-left: 2em;
    }

    .logo {
        margin: 2.5em 0 2.5em 0;
    }
}


/*  -------- Hero ------------ */

.hero-container {
    background-color: #E7816B;
    background-image: url(./assets/desktop/bg-pattern-hero-home.svg);
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 6em;

    /* z-index: -999; */
}

.hero-content {
    background-image: url(./assets/desktop/image-hero-phone.png);
    background-position-x: center;
    background-position-y: -486%;
    background-repeat: no-repeat;
    display: flex;
    height: 850px;
}

.hero-text,
.landing-contact--text {
    color: #fff;
    text-align: center;
    margin: 1em;
}

.hero-text h1,
.landing-contact--text h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25rem;
    margin-top: 1.3em;
}

.hero-text p,
.landing-contact--text p {
    font-size: .94rem;
    line-height: 1.56rem;
    margin-bottom: 2em;
}

.more-btn {
    border: none;
    border-radius: 8px;
    color: #333136;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
    font-size: .94rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 1em 1.8em;
    text-transform: uppercase;
}

.more-btn:hover, 
.more-btn:focus {
    background-color: #FFAD9B;
    color: #fff;
}

@media (min-width: 740px) {

    .hero-container {
        border-radius: 15px;
        
    }

    .hero-text {
        margin: 0 10%;
    }
    
    .hero-text h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-top: 1em;
    }

    .hero-text p {
        font-size: 1rem;
        line-height: 1.625rem;
    }
}

@media (min-width: 1140px) {

    .hero-container {
        margin-bottom: 7em;
        background-position: right;
    }

    .hero-content {
        background-position-x: 123%;
        background-position-y: 10%;
        height: 640px;
        align-items: center;
    }

    .hero-text {
        margin-left: 7%;
        text-align: left;
        width: 52%;
    }

    .hero-text h1 {
        margin-top: 0;
    }

    .hero-text p {
        width: 83%;
    }
}


/* ------ Project Navigation Section --------*/

.project-navigation {
    display: grid;
    grid-gap: 1.5em;
}

.project-navigation > div {
    color: #fff;
    cursor: pointer;
    height: 250px;
    text-transform: uppercase;
}

.project-navigation > div:hover,
.project-navigation > div:focus {
    background-blend-mode: soft-light;
    background-color: #B15A47;
    opacity: .75;
}

.web-design,
.app-design,
.graphic-design {
    align-items: center;
    background-blend-mode: overlay;
    background-color: hsla(0, 0%, 10%, .85);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.4em;
}

.web-design {
    background-image: url("./assets/mobile/image-web-design.jpg");
}

.app-design {
    background-image: url("./assets/mobile/image-app-design.jpg");
}

.graphic-design {
    background-image: url("./assets/mobile/image-graphic-design.jpg");
    margin-bottom: 6em;
}

.project-navigation h2 {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: .09rem;
    margin-bottom: 0;
}

.project-navigation p {
    font-size: .94rem;
    font-weight: 500;
    letter-spacing: .31rem;
}

.arrow {
    position: relative;
    left: 1em;
}

@media (min-width: 740px) {

    .project-navigation h2 {
        font-size: 2.5rem;
        letter-spacing: .125rem;
    }

    .web-design,
    .app-design,
    .graphic-design {
        margin: 0;
    }

    .web-design {
        background-image: url("./assets/tablet/image-web-design.jpg");
    }
    
    .app-design {
        background-image: url("./assets/tablet/image-app-design.jpg");
    }
    
    .graphic-design {
        background-image: url("./assets/tablet/image-graphic-design.jpg");
    }
}

@media (min-width: 1140px) {

    .project-navigation {
        grid-template: 1fr 1fr / 1fr 1fr;
        height: 640px;
    }

    .project-navigation > div {
        height: auto;
    }

    .web-design {
        grid-row: span 2;
    }

    .web-design {
        background-image: url("./assets/desktop/image-web-design-large.jpg");
    }
    
    .app-design {
        background-image: url("./assets/desktop/image-app-design.jpg");
    }
    
    .graphic-design {
        background-image: url("./assets/desktop/image-graphic-design.jpg");
    }
}
/* --------- Illustrations Section --------- */

.illustration-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.illustration-component-container {
    display: flex;
    flex-direction: column;
}

.illustration {
    background-repeat: no-repeat;
    margin-bottom: 2em;
    align-self: center;
}

.ill-one--bg {
    background-image: url("../../shared-assets/desktop/bg-pattern-small-circle.svg");
}

.ill-two--bg {
    background-image: url("../../shared-assets/desktop/bg-pattern-small-circle-rotated-up.svg");
}

.ill-three--bg {
    background-image: url("../../shared-assets/desktop/bg-pattern-small-circle-rotated-down.svg");
    margin-bottom: 1em;
}

.illustration-text {
    color: #333136;
    text-align: center;
}

.illustration-text h2 {
    font-size: 1.25rem;
    letter-spacing: .31rem;
    margin-bottom: 1.5em;
}

.illustration-text p {
    line-height: 1.625rem;
    margin: 0 auto;
    margin-bottom: 4em;
    width: 80%;
}

@media (min-width: 740px) {

    .illustration-wrapper {
        margin-top: 6em;
    }

    .illustration-component-container {
        flex-direction: row;
        align-items: center;
    }

    .illustration-text {
        text-align: left;
    }

    .illustration-text h2 {
        margin-bottom: 1em;
        margin-left: 10%;
    }

}

@media (min-width: 1140px) {

    .illustration-wrapper {
        align-items: baseline;
        flex-direction: row;
        margin: 10em 0 6em;
    }

    .illustration-component-container {
        flex-direction: column;
    }

    .ill-three--bg {
        margin-bottom: 2em;
    }

    .illustration-text {
        text-align: center;
    }

    .illustration-text p {
        width: 91%;
    }
}

/*  ------- Landing Contact Floater -------- */

.landing-contact--text {
    text-align: center;
    margin: 0 2em;
}

.landing-contact--wrapper {
    background-color: #E7816B;
    background-image: url("../../shared-assets/desktop/bg-pattern-call-to-action.svg");
    background-position: -14em -3em;
    border-radius: 15px;
    margin: 2em 1.4em -12em;
    padding: 4.5em 0;
    position: relative;
    z-index: 1;
}

.landing-contact--text h2 {
    margin-top: 0;
}

@media (min-width: 740px) {

    .landing-contact--wrapper {
        margin: 2em 0 -5em;
    }

    .landing-contact--text {
        margin: 0 10%;
    }

    .landing-contact--text h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}

@media (min-width: 1140px) {

    .landing-contact--wrapper,
    .landing-contact--text {
        text-align: left;
        background-position: -47em -8em;
    }

    .landing-contact--text {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .landing-contact--text h2 {
        margin: 0;
    }

    .inside-text {
        width: 52%;
    }
}

/* --------- Footer Section -------- */

footer {
    background-color: #1D1C1E;
    color: #fff;
}

.footer-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10em 0 2.5em;
    text-align: center;
}

.lt-logo {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 4em 4em 2em;
    width: 170px;
}

footer ul {
    font-size: .875rem;
    letter-spacing: .125rem;
}

footer li {
    margin-bottom: 2em;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact p {
    line-height: 1.625rem;
    opacity: .5;
}

.contact span {
    font-weight: 700;
}

.social {
    display: flex;
    justify-content: space-around;
    margin-top: 2.5em;
}

svg {
    fill: #E7816B;
}

svg:hover,
svg:focus {
    fill: #FFAD9B
}

@media (min-width: 740px) {

    .footer-wrapper {
        padding-top: 7em;
        text-align: left;
    }

    .btm-nav-container {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .lt-logo {
        padding: 0;
        border: none;
    }

    footer nav {
        display: flex;
        align-items: center;
    }

    footer nav a {
        margin-left: 2.5em;
    }

    footer ul {
        display: flex;
    }

    footer li {
        margin: 0;
    }

    .contact-container {
        align-items: end;
        flex-direction: initial;
        justify-content: space-between;
        width: 100%;
    }

    .contact p {
        margin-top: 2em;
    }

    .bold {
        font-weight: 700;
    }

    .social {
        margin-bottom: .5em;
    }

    .social > a {
        margin-left: 1em;
    }
}


/* ------- Responsive Navbar --------- */

@media (max-width: 739px) {

    header {
        position: absolute;
        background-color: white;
        z-index: 1000;   
    }
    .non-mobile {
        display: none;
    }

    .mobile-nav-toggle {
        background-color: white;
        background-image: url("../../shared-assets/mobile/icon-hamburger.svg");
        background-repeat: repeat;
        background-size: cover;
        border: none;
        display: block;
        height: 1.5em;
        width: 1.5em;

        position: absolute;
        top: 2em;
        right: 2em;    
    }
    
    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../../shared-assets/mobile/icon-close.svg");
    }
    
    .mobile-primary-navigation {
        transform: translateY(-100%);
        
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;  
    }
    
    .menu {
        background-color: black;
        position: absolute;
        height: 20%;
        inset: 0 0 0 0;
        z-index: 0
    }
    
    .mobile-primary-navigation[data-visible="true"] {
        transform: translateY(4.5em);
        transition: transform 350ms ease-out
    }
    
    .mobile-primary-navigation li {
        color: white;
        font-size: 1.5rem;
        letter-spacing: .125rem;
        margin: 1em 0 0 1em;
        text-transform: uppercase;
    }
    
    .overlay[data-visible="true"] {
        background-color: black;
        height: 100%;
        position: absolute;
        opacity: .7;
        z-index: -1;
        width: 100%;
    }

    .hero-container {
        position: relative;
        inset: 4.5em 0 0 0;
    }

    .hero-container[data-visible="false"] {
        z-index: -999;
    }
}

@media (min-width: 740px) {
    .mobile-nav-toggle {
        display: none;
    }

    .non-mobile {
        display: flex;
    }

    .mobile {
        display: none
    }
    
}

/*  ---- Background Flair ----- */

/* Not working */
@media (min-width: 1140px) {
    /* .leaf {
        background-image: url("../../shared-assets/desktop/bg-pattern-leaf.svg");
        position: absolute;
        width: 1005px;
        height: 595px;
        z-index: -1;
    }

    .leaf-top {
        top: 40%;
        left: -10%;
    }

    .leaf-bottom {
        top: 162%;
        left: 18%;
        
    } */
}