#about {
  /**********************
*** Footer Area ***
**********************/
  /*** End Footer Area ***/
  /* ******
*** PLEASE CHECK IF NECESSARY OUTSIDE FOOTER ***
**********/
  /*** screen reader ***/
}
#about html {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  padding: 0;
  margin: 0;
}
#about .head_level-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.125em;
}
#about .head_level-2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.125em;
}
#about .head_level-2_short {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.25em;
  line-height: 1.3em;
  text-transform: uppercase;
}
#about .head_level-2_tall {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.286em;
  text-transform: uppercase;
}
#about .head_level-3_short {
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.333em;
  text-transform: uppercase;
}
@media (min-width: 690px) {
  #about .head_level-1 {
    font-size: 3rem;
    line-height: 1em;
  }
  #about .head_level-2 {
    font-size: 2.5rem;
    line-height: 1em;
  }
  #about .head_level-2_tall {
    font-size: 2.5rem;
    letter-spacing: 0.05em;
    line-height: 1.2em;
  }
}
#about .paragraph {
  line-height: 1.625em;
}
#about .paragraph_sm {
  font-size: 0.9375rem;
  line-height: 1.667em;
}
@media (min-width: 690px) {
  #about .paragraph_sm {
    font-size: 1rem;
    line-height: 1.625em;
  }
}
#about .btn {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 1.44em 1.15em;
}
#about .btn__text {
  font-family: "Jost", sans-serif;
  font-size: 0.938rem;
  font-weight: 500;
  letter-spacing: 0.067em;
  text-transform: uppercase;
}
#about .btn_active:hover,
#about .btn_active:focus {
  cursor: pointer;
}
#about .btn_light-theme {
  color: #333136;
}
#about .btn_light-theme_active:hover,
#about .btn_light-theme_active:focus {
  color: #fff;
  background-color: #ffad9b;
}
#about .nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#about .nav__link {
  font-size: 0.875rem;
  line-height: 1em;
  letter-spacing: 0.143em;
}
#about .nav__link_active:hover,
#about .nav__link_active:focus {
  text-decoration: underline;
}
@media (max-width: 689px) {
  #about .nav__mobile-item {
    margin: 1.8em 0 0 1.5rem;
  }
  #about .nav__mobile-link {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.042em;
    letter-spacing: 0.08em;
    text-decoration: none;
    text-transform: uppercase;
  }
}
@media (min-width: 690px) {
  #about .nav__item {
    margin-left: 2em;
  }
  #about .nav__list {
    display: flex;
  }
}
#about .page {
  max-width: 1191px;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  display: grid;
  grid-template: repeat(2, auto) repeat(2, calc(379px / 2)) auto / 1.5rem 1fr 1.5rem;
}
#about .page__header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-row: 1 / 2;
  grid-column: 2 / -2;
  z-index: 3;
}
#about .page__main {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}
#about .page__cta {
  grid-row: 3 / 5;
  grid-column: 2 / -2;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#about .page__footer {
  padding-top: calc((333px / 2) + 3.5rem);
  padding-bottom: 3.5rem;
  grid-row: 4 / 6;
  grid-column: 2 / -2;
}
@media (max-width: 689px) {
  #about .page__overlay[data-visible="true"] {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    inset: 6em 0 0 0;
    z-index: 1;
  }
}
@media (min-width: 690px) {
  #about .page {
    grid-template-columns: 2.5rem 1fr 2.5rem;
  }
  #about .page__header {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  #about .page__cta {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  #about .page__footer {
    margin-top: 5.35rem;
    padding-top: calc(333px / 2);
    padding-bottom: 5.35rem;
  }
}
@media (min-width: 1120px) {
  #about .page {
    position: relative;
  }
}
#about .header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#about .header__btn {
  display: none;
}
#about .header__mobile-nav {
  display: none;
}
@media (max-width: 689px) {
  #about .header__btn {
    background-color: white;
    background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/mobile/icon-hamburger.svg");
    background-repeat: repeat;
    background-size: cover;
    border: none;
    display: block;
    height: 1.5em;
    width: 1.5em;
  }
  #about .header__btn_active[aria-expanded="true"] {
    background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/mobile/icon-close.svg");
  }
  #about .header__nav {
    display: none;
  }
  #about .header__mobile-nav {
    display: block;
    background-color: #000;
    height: max-content;
    padding-bottom: 1.8rem;
    position: absolute;
    inset: 0 0 0 0;
    z-index: 2;
  }
  #about .header__mobile-nav_expanded[data-visible="true"] {
    transform: translateY(90px);
    transition: transform 450ms ease-in;
  }
  #about .header__mobile-nav_expanded[data-visible="false"] {
    transform: translateY(-100%);
    transition: transform 450ms ease-out;
  }
}
#about .nav-portfolio {
  display: grid;
  /* grid-template-rows: repeat(3, 250px); */
  grid-auto-rows: 250px;
  grid-gap: 1.5rem;
}
#about .nav-portfolio__content {
  border-radius: 15px;
  color: #fff;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
#about .nav-portfolio__head {
  margin: 0 1rem;
}
#about .link:hover > .nav-portfolio__bkg-img_active,
#about .link:focus > .nav-portfolio__bkg-img_active {
  background-blend-mode: soft-light;
  background-color: #b15a47;
  opacity: 0.75;
}
@media (min-width: 690px) {
  #about .nav-portfolio {
    /* grid-template-rows: repeat(3, 200px); */
    grid-auto-rows: 200px;
  }
}
#about .cta {
  background-color: #e7816b;
  color: #fff;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#about .cta__img {
  position: absolute;
  transform: translate(-47%, -30%);
  z-index: -3;
}
#about .cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about .cta__head {
  max-width: 275px;
  margin: 0 auto;
}
#about .cta__body {
  max-width: 400px;
  margin: 1.5em 1em 2em;
}
@media (min-width: 1120px) {
  #about .cta {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #about .cta__img {
    right: 0;
    transform: translate(0, 0);
  }
  #about .cta__container {
    align-items: flex-start;
  }
  #about .cta__head {
    margin: 0;
  }
  #about .cta__body {
    margin: 1.5em 0 0;
  }
}
#about .footer {
  background-color: #1d1c1e;
  color: #fff;
}
#about .footer__hr {
  margin: 1.6rem 0 2rem;
  opacity: 0.1;
}
@media (max-width: 689px) {
  #about .footer {
    text-align: center;
  }
  #about .footer__logo {
    position: relative;
    left: 2px;
  }
  #about .footer__nav-item {
    margin: 2em 0;
  }
  #about .footer__contact {
    margin: 2.5em 0em 0em;
  }
  #about .footer__social {
    margin-top: 2.5rem;
  }
}
@media (min-width: 690px) {
  #about .footer {
    display: grid;
    grid-template: 1fr 4em 2fr / minmax(min-content, 1fr) 1fr 1fr;
    align-items: center;
  }
  #about .footer__logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  #about .footer__hr {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
  #about .footer__nav {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    justify-self: right;
  }
  #about .footer__contact {
    grid-row: 3 / 4;
    margin: 0;
  }
  #about .footer__social {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    align-self: end;
    justify-self: right;
  }
  #about .footer__social-svg {
    vertical-align: bottom;
  }
}
#about .img_leaf {
  display: none;
}
@media (min-width: 1120px) {
  #about .img_leaf {
    display: block;
    position: absolute;
    z-index: -1;
  }
  #about .leaf-img_top {
    inset: 16% 0% 0 -11%;
  }
  #about .leaf-img_bottom {
    inset: 61.5% 0 0 26%;
    transform: rotate(180deg);
  }
}
#about .bkg-img {
  background-repeat: no-repeat;
}
#about .bkg-img_circle {
  background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/desktop/bg-pattern-small-circle.svg");
}
#about .bkg-img_circle-up {
  background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/desktop/bg-pattern-small-circle-rotated-up.svg");
}
#about .bkg-img_circle-down {
  background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/desktop/bg-pattern-small-circle-rotated-down.svg");
}
#about .bkg-img_web {
  background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/mobile/image-web-design.jpg");
  background-size: cover;
}
#about .bkg-img_app {
  background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/mobile/image-app-design.jpg");
  background-size: cover;
}
#about .bkg-img_graph {
  background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/mobile/image-graphic-design.jpg");
  background-size: cover;
}
@media (min-width: 690px) {
  #about .bkg-img_web {
    background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/tablet/image-web-design.jpg");
  }
  #about .bkg-img_app {
    background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/tablet/image-app-design.jpg");
  }
  #about .bkg-img_graph {
    background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/tablet/image-graphic-design.jpg");
  }
}
@media (min-width: 1120px) {
  #about .bkg-img_web {
    background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/desktop/image-web-design-large.jpg");
  }
  #about .bkg-img_app {
    background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/desktop/image-app-design.jpg");
  }
  #about .bkg-img_graph {
    background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designo/shared-assets/desktop/image-graphic-design.jpg");
  }
}
#about .bkg-img_hero {
  background-image: url("/home/kwalker/STEM/Dev/Projects/designo/designo-multi-page-website/designome/assets/desktop/bg-pattern-hero-home.svg");
  background-position-x: right -128px;
  background-position-y: 17%;
  background-attachment: local;
  background-size: initial;
}
@media (min-width: 1120px) {
  #about .bkg-img_hero {
    background-position-x: right;
    background-position-y: initial;
    background-attachment: initial;
  }
}
#about .logo {
  width: 200px;
}
#about .link {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}
#about .link:hover > .social__svg_active,
#about .link:focus > .social__svg_active {
  fill: #ffad9b;
}
#about .contact__title {
  font-weight: 700;
}
#about .contact__body {
  line-height: 1.625em;
  opacity: 0.5;
}
#about .social__svg {
  fill: #e7816b;
}
#about .social__link {
  margin-left: 0.8rem;
}
#about .social__link:nth-child(1) {
  margin-left: 0;
}
@media (min-width: 690px) {
  #about .contact__body_bold {
    font-weight: 700;
  }
}
#about .extension {
  padding-left: 100vw;
  padding-right: 100vw;
  margin-left: -100vw;
  margin-right: -100vw;
}
#about .photo-overlay {
  background-blend-mode: overlay;
  background-color: hsla(0, 0%, 10%, 0.85);
}
#about .sr-only {
  visibility: hidden;
}
@media (min-width: 1120px) {
  #about {
    /*** selector for nav-portfolio ***/
  }
  #about .col1 {
    grid-row: 1 / 3;
    grid-column: 1;
  }
}
#about .main {
  display: grid;
  grid-template: repeat(2, auto 8rem) auto 4rem / 1.5rem 1fr 1.5rem;
  grid-template-areas: "hero hero hero" ". . ." ". port ." ". . ." ". ill ." ". . .";
}
#about .main__hero {
  grid-area: hero;
}
#about .main__nav-portfolio {
  grid-area: port;
}
#about .main__illustrations {
  grid-area: ill;
}
#about .hero {
  background-color: #e7816b;
  color: #fff;
  height: 843px;
  min-width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#about .hero__head {
  margin: 4.5rem 1.5rem 0;
  max-width: 475px;
}
#about .hero__body {
  margin: 1.5em 1.5rem 2em;
  max-width: 475px;
}
#about .hero__btn {
  z-index: 1;
}
#about .hero__img {
  position: absolute;
  bottom: -45%;
}
#about .illustrations {
  color: #333136;
  text-align: center;
}
#about .illustrations__component {
  margin-bottom: 4rem;
}
#about .illustrations__head {
  margin: 1.5em 0;
}
@media (min-width: 690px) {
  #about .main {
    grid-template-columns: 2.5rem 1fr 2.5rem;
    grid-template-areas: ". hero ." ". . ." ". port ." ". . ." ". ill ." ". . .";
  }
  #about .hero {
    border-radius: 15px;
  }
  #about .illustrations {
    text-align: left;
  }
  #about .illustrations__img {
    float: left;
    margin-right: 3rem;
  }
  #about .illustrations__component {
    display: inline-block;
  }
  #about .illustrations__head {
    margin: 2em 0 1em;
  }
}
@media (min-width: 1120px) {
  #about .hero {
    height: 640px;
    padding-left: 6rem;
    text-align: left;
    place-items: flex-start;
    justify-content: center;
  }
  #about .hero__head {
    margin-left: 0;
    margin-top: 0;
  }
  #about .hero__body {
    margin: 2.5em 0 3em;
  }
  #about .hero__img {
    bottom: -39%;
    right: -6.8%;
  }
  #about .illustrations {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  #about .illustrations__img {
    float: initial;
    margin-right: 0;
  }
  #about .illustrations__component {
    width: calc(95% / 3);
  }
  #about .nav-portfolio {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 640px;
  }
}
