.bkg-img_hero {
        background-image: url("./assets/desktop/bg-pattern-hero-home.svg");
        background-position-x: right -128px;
        background-position-y: 17%;
        background-attachment: local;
        background-size: initial;
    } 
