.hero {
    background-color: #e7816b;
    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    overflow: hidden;
}
