.header__btn {
        background-color: white;
        background-image: url("../../shared-assets/mobile/icon-hamburger.svg");
        background-repeat: repeat;
        background-size: cover;
        border: none;

        display: block;
        height: 1.5em;
        width: 1.5em;
    }