.btn {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    padding: 1.03em 1.14em;
    text-decoration: none;
    
    display: inline-block;
}

        .btn__text {
            font-family: "Jost", sans-serif;
            font-size: 0.938rem;
            font-weight: 500;
            letter-spacing: 0.067em;
            text-transform: uppercase;
        }

.btn_active:hover,
.btn_active:focus {
    cursor: pointer;
}

.btn_light-theme {
    color: #333136;
}

.btn_light-theme_active:hover,
.btn_light-theme_active:focus {
    color: #fff;
    background-color: #ffad9b;
}

.btn_dark-theme {
    background-color: #E7816B;
    color: #fff;
}

.btn_dark-theme_active:hover,
.btn_dark-theme_active:focus {
    color: #fff;
    background-color: #ffad9b;
}

